/*
    mesh.forms.css
    Degradable HTML5 and CSS3 forms

    Copyright (c)2010 Sourcey
    http://sourcey.com
    Distributed under The MIT License.
*/


/* FORM MARKUP
----------------------------------------------------------------------------- */

form {}

form h2 {
    margin: 0 0 20px;
}

form h3 {
    margin: 0 0 15px;
}

form fieldset {
    margin: 0 0 20px;
    padding: 15px;
    border: none;
}

form fieldset legend {
    font-size: 18px;
}

form label {
    font-size: 13px;
    line-height: 1;
    margin: 0 0 5px;
    display: block;
}

form label.inline {
    display: inline-block;
    width: auto;
}

form .description,
form .hint {
    display: block;
    font-size: 11px;
    line-height: 1.3em;
    color: #808080;
    margin: 0 0 5px;
}

form .inline input,
form .inline select,
form input.inline {
    display: inline;
    width: auto;
}

form .required {
    color: #b00;
}

form .serparator {
    border-top: 1px dotted #ddd;
    margin: 0 0 15px;
}
form .larger {
    font-size: 14px;
}
form .large {
    font-size: 16px;
}


input[type="search"]::-webkit-search-decoration {
    display: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    -webkit-box-shadow: #0066ff 0 0 3px 0;
    -moz-box-shadow: #0066ff 0 0 3px 0;
    -o-box-shadow: #0066ff 0 0 3px 0;
    box-shadow: #0066ff 0 0 3px 0;
    z-index: 1;
}

input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -ms-background-clip: padding-box;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    background-color: white;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: black;
    outline: 0;
    margin: 0;
    padding: 2px 3px;
    text-align: left;
    font-size: 13px;
    font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
    height: 1.8em;
    vertical-align: top;
    *padding-top: 2px;
    *padding-bottom: 1px;
    *height: auto;
}
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
    background-color: #eeeeee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    color: #888888;
    cursor: default;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #888888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #888888;
}

input.placeholder,
textarea.placeholder {
    color: #888888;
}

textarea,
select[size],
select[multiple] {
    height: auto;
}

select[size="0"],
select[size="1"] {
    height: 1.8em;
    *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
    select[size],
    select[multiple],
    select[multiple][size] {
        background-image: none;
        padding-right: 3px;
    }

    select,
    select[size="0"],
    select[size="1"] {
        background-image: url(/static/mesh/assets/select-arrow.gif);
        background-repeat: no-repeat;
        background-position: right center;
        padding-right: 20px;
    }

    ::-webkit-validation-bubble-message {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
        border: 1px solid;
        border-color: #747474 #5e5e5e #4f4f4f;
        color: white;
        font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
        overflow: hidden;
        padding: 15px 15px 17px;
        text-shadow: black 0 0 1px;
        height: 16px;
    }

    ::-webkit-validation-bubble-arrow,
    ::-webkit-validation-bubble-top-outer-arrow,
    ::-webkit-validation-bubble-top-inner-arrow {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #666666;
        border: 0;
    }
}
textarea {
    min-height: 40px;
    overflow: auto;
    resize: vertical;
    width: 100%;
}

optgroup {
    color: black;
    font-style: normal;
    font-weight: normal;
    font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}

input:invalid,
button:invalid,
select:invalid,
textarea:invalid {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner,
select::-moz-focus-inner,
textarea::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* Form Errors
............................................................................. */

label.error {
    background: #ffc;
    color: #c00;
    font-style: italic;
}

input.error,
select.error,
textarea.error {
    background-color: #fee;
}


/* STACKED FORMS
----------------------------------------------------------------------------- */

form.stacked fieldset {
    text-align: center;
}

form.stacked fieldset h3,
form.stacked fieldset legend {
    text-align: left;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 0;
    /*
    padding-top: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    */
}

/* Clearfloat for form fields */
form.stacked .block:after {
    content: ".";
    display: block;
    line-height: 0px;
    height: 0;
    clear: both;
    visibility: hidden; }
form.stacked .block { display: inline-block; }
* html form.stacked .block,
*:first-child+html form.stacked .block {
    zoom: 1;
    display: block;
}

form.stacked .field {
    width: 600px; /* default width */
    position: relative;
    text-align: left;
    margin: 0 auto 15px;
    padding: 0 0 8px;
    border-bottom: 1px solid #DEE2E8;
}

form.stacked .field:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

form.stacked .field label {
    position: absolute;
    width: 33%;
    text-align: right;
    line-height: 1.3em;
    padding: 4px 0 0;
}

form.stacked .field .block {
    width: 65%;
    margin: 0 0 0 35%;
}


form.stacked .field .block input,
form.stacked .field .block select {
    width: 300px;
}
form.stacked .field .block textarea {
    width: 95%;
}
form.stacked .field .block input[type="checkbox"] {
    width: auto;
}

form.stacked .field .block .input {
    width: 300px;
    position: relative;
}

form.stacked .description,
form.stacked .hint,
form.stacked small {
    padding: 5px 0 0;
}

form.stacked .loading {
    float: right;
    margin: 3px 65px 0 0;
    width: 16px;
    height: 16px;
    background-image: url(/static/mesh/assets/indicator.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/* CLEAN FORMS
----------------------------------------------------------------------------- */

form.clean {
}

form.clean fieldset {
    padding: 0;
}

form.clean fieldset legend {
    font-size: 18px;
    margin: 0 0 6px;
}

form.clean fieldset .field {
    border-top: 1px dotted #ddd;
    margin: 0;
    padding: 16px 15px 18px;
}

form.clean fieldset .field label {
    line-height: 1em;
    margin: 0 0 7px;
}


/* VALIDATION
----------------------------------------------------------------------------- */

form.validate fieldset input/*,
form.validate fieldset textarea,
form.validate fieldset select */ {
    background-image: url(/static/mesh/assets/validation-icons.png);
    background-repeat: no-repeat;
    background-position: 98% 24px;
    -moz-transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}


form.validate input::-webkit-input-placeholder,
form.validate input:-moz-placeholder {
    color: #A6A6A6;
}

form.validate .validation {
    background: #c00;
    color: #fff;
    display: none;
    font-size: 12px;
    padding: 3px;
    position: absolute;
    right: -165px;
    text-align: center;
    top: 0;
    width: 150px;
    outline: 0;
    -moz-box-shadow: 0px 0px 4px #ffffff;
    -webkit-box-shadow: 0px 0px 4px #ffffff;
    box-shadow: 0px 0px 4px #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
form.validate input:focus + .validation { display: block; }

form.validate input:focus:required:invalid + .validation .valid,
form.validate input.error:focus + .validation .valid,
form.validate input.required:focus + .validation .valid,
form.validate input:focus + .validation .valid{ display: none; }

form.validate input:focus:required:valid + .validation,
form.validate input.valid:focus + .validation { background: green; }

form.validate input:focus:required:valid + .validation .invalid,
form.validate input.valid:focus + .validation .invalid { display: none; }

form.validate input:focus:required:valid + .validation .valid,
form.validate input.valid:focus + .validation .valid { display: block; }

form.validate fieldset input:required:valid {
    background-color: #fff;
    background-position: 98% -61px;
}

/* Enhanced error styling */
form.validate input.error {
    background-color: pink;
    background-position: 98% 3px;
    outline: none;
}
form.validate input.required {
    background-color: #fff;
    background-position: 98% -29px;
}
form.validate input.valid {
    background-color: #fff;
    background-position: 98% -61px;
}

form.validate input.error::-webkit-input-placeholder,
form.validate inputerror :-moz-placeholder {
    color: #fff;
}